{% extends "layout.html" %}
{% block content %}

<main id="casestudies"> 
    <div class="section-container">
        <div class="section__nomenclature"></div>
        <div class="section__showcase">
            <img class="businessman" src="{{url_for('static', filename='assets/img/businessman.png')}}" alt="businessman" />
            <img class="business_woman" src="{{url_for('static', filename='assets/img/business_woman.png')}}" alt="business_woman"/>
        </div>
    </div>
    
</main>
    
{% endblock content %}