{% extends "layout.html" %}
{% block content %}

    <main class="cls-main">
        <div class="section-container">
            <div class="section__nomenclature">
                <div class="section_nomenclature--title">
                    <h6>
                        <p>
                        End-to-End Business Intelligence Solutions: Unleashing Data Insights for Informed Decision-Making.
                        </p>
                    </h6>
                </div>
                <div class="section_nomenclature--body">
                    <span>
                        <p>
                            Welcome to <span class="company-name">DatalytiQs.io</span>, 
                            where our Business Intelligence Professional brings a wealth of expertise to elevate your data strategies. 
                        </p>
                        <p>
                            Explore our comprehensive services, encompassing Microsoft SSIS, SSAS, T-SQL, MDX, DAX, M Code, Power Query, 
                            data warehouse development, data modeling, and data visualization.
                        </p>
                        <p>
                            Dive into our portfolio to witness successful projects, showcasing seamless data integrations, optimized warehouses, 
                        and compelling visualizations using the latest data visualisation technologies including Power BI and D3js libraries. 
                        </p>
                        <p>
                            Discover how our proficiency can empower your organization with actionable insights. 
                            Elevate your business insights journey with us today.
                        </p>
                    </span>
                </div>
            </div>
            <div class="section__showcase"></div>
        </div>
    </main>
    <div class="datalytiQsio-container">
        <img class="cls-main__gif" src="../static/assets/img/datalytiQsio.gif" alt="datalytiQs.io">
    </div>
    <section class="section">
        <h4>Client Service Testimonials</h4>
        <div class="testimonial-container"></div>
    </section>
    
{% endblock content %}