@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    width: 1430px;
    margin: 0 auto;
    font: 1.2rem/1.4 Verdana, serif;
    font-family: 'Montserrat', sans-serif;
  }

  /* primary header */

  .primary-header {
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    height: 120px;
    position: sticky;
    top: 2px;
    background: #f7f7f7;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 1em #ccc;
    border: 1px solid #ccc;
  }

 .primary-header__logo img{
    width: 100px;
    height: 100px;
    margin: 0.8rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1px 1px 3px black;

  }

  .primary-navigation{
    list-style: none;
  }

  .primary-header a{
    text-decoration: none;
}

  .flex{
    display: flex;
    gap:var(--gap, 2rem);

  }

  .call-to-action{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    text-decoration: none;
    list-style: none;
    border-radius: 20px;
    background: #1f135d;
    box-shadow: 1px 1px 3px black;
    border: 1px solid #1f135d;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    font-weight: regular;
    
  }

  .call-to-action a{
    color: #fff;
  }

  a{
    text-decoration: none;    
    color: #1f135d;
}

li.active{
    color: #1f135d;
    font-weight: bold;
}

/* main section */

.datalytiQsio-container{
  justify-content: center;

}

.cls-main{
    height:690px;
    border-radius: 2rem;
  }

.cls-main__gif{
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    padding-bottom: 2rem;
  }
 
  .section-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:10px;
    justify-content: center ;
    align-items: center;
  }

  .section__nomenclature{
    display: flex;
    flex-direction: column;
    margin-top:10px;
    margin-right:10px;
    padding: 0;
    width: 20%;
    min-height:660px;
    max-height:660px;
    background: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0 0 1em #ccc;
    border: 1px solid #ccc;
    
  }

  .section__showcase{
    display: flex;
    margin-top:10px;
    padding: 0;
    width: 80%;
    min-height:660px;
    max-height:660px;
    background: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0 0 1em #ccc;
    border: 1px solid #ccc;
    justify-content: center ;
    align-items: center;
  }

  .section_nomenclature--title{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5em;
    text-align: center;
    padding:0px
  }

  .section_nomenclature--body{
    font-size: 0.88rem;
    margin: 0.5em;
    text-align: center;
    padding: 2px;
  }

  .company-name{
    color:#1f135d;
    font-weight: bold;
  }

  .section{
    margin: 0 auto;
  }

  /* testimonials */

  .testimonial-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    border-radius: 20px;
    justify-content: center ;
  }

.testimonial{
    display: flex;
    margin:5px;
    width: 250px;
    min-height:800px;
    background: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0 0 1em #ccc;
    border: 1px solid #ccc;
    justify-content: center ;
    align-items: center;
}

.testimonial img{
    width: 70%;
    object-fit: cover;
    margin-bottom: 1em;
    padding: 1rem;
}

.testimonial__figure {
    margin: 0.4em;
    background: #eee;
    border-radius: 20px;
    height: 98%;
    max-width: 600px;
  }

.testimonial__figure figcaption,
.testimonial__figure blockquote {
  margin: 1em;
}

.testimonial__name{
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.testimonial__content{
    width:100%;
    height: 100%;
    font-size: 0.9rem;
}

/* footer */

.primary-footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 1430px;
    height: 10%;
    align-items: center;
    bottom: 1px;
    background: #f7f7f7;
    border-radius:0 0 20px 20px;
    box-shadow: 0 0 1em #ccc;
    border: 1px solid #ccc;
    padding-top:5px
}

.footer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    border-radius: 20px;
    justify-content: right ;
    align-items: center;
}

.footer-container__links ul{
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.footer-container__links img{
    width: 30px;
    height: 30px;
    margin-top:20px;
    margin-right:10px;
}

.footer-container__links ul{
    margin: 0 1em;
    text-decoration: none;
    color: #000;
    list-style: none;  
}

/* copy right */

.copyright{
    padding-bottom:5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #000;
    
}

/* client work */


/* contact form */

.contactform-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 2rem;
}

.contactform-info{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem;
    border-radius: 20px;
}

.contactform__message{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem;
    margin-right: 10rem;
    border-radius: 20px;
    align-items: flex-end;
}

.contactform__message input{
    width: 30em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contactform__message textarea{
  width: 30em;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contactform-button-container{
    display: flex;
    flex-direction: row;
}

.cls-btn{
    width: 6em!important;
    height:2.5em!important;
    margin-right: 0.5em!important;
    background: #1f135d!important;
    border-color: #1f135d!important;
  }

  .businessman{
    object-fit: cover;
    height: 150px;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation: fillupman 3s ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    filter: invert(7%) sepia(10%) saturate(2550%) hue-rotate(200deg) brightness(20%) contrast(10%)
            blur(0px) drop-shadow(3px 3px 5px black) grayscale(0%) opacity(20%);
  }

  .business_woman{
    object-fit: cover;
    height: 150px;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation: fillup 3s ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    /*
    filter: invert(62%) sepia(610%) saturate(6057%) hue-rotate(163deg) brightness(97%) contrast(104%)
            blur(0px) drop-shadow(3px 3px 5px black) grayscale(10%) opacity(50%);
    */
    filter: invert(7%) sepia(90%) saturate(2652%) hue-rotate(245deg) brightness(105%) contrast(104%)
            blur(0px) drop-shadow(3px 3px 5px black) grayscale(10%) opacity(100%);
  }

  @keyframes fillupman {

    from {
      filter: invert(7%) sepia(9%) saturate(2550%) hue-rotate(200deg) brightness(20%) contrast(10%)
            blur(0px) drop-shadow(3px 3px 5px black) grayscale(0%) opacity(20%);
    }

    to {
    filter: invert(7%) sepia(9%) saturate(2652%) hue-rotate(245deg) brightness(105%) contrast(104%)
            blur(0px) drop-shadow(3px 3px 5px black) grayscale(10%) opacity(100%);
    }
    
  }

  @keyframes fillup {

    from {
      filter: invert(7%) sepia(90%) saturate(2550%) hue-rotate(200deg) brightness(100%) contrast(100%)
            blur(0px) drop-shadow(3px 3px 5px black) grayscale(0%) opacity(20%);
    }

    to {
    filter: invert(7%) sepia(90%) saturate(2652%) hue-rotate(245deg) brightness(105%) contrast(104%)
            blur(0px) drop-shadow(3px 3px 5px black) grayscale(10%) opacity(100%);
    }
    
  }