<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/static/main.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/static/css/dist/bootstrap.min.css')}}">

        {% if title %}
            <title>DatalytiQs - {{ title }}</title>
        {% else %}
            <title>DatalytiQs</title>
        {% endif %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('home') }}">DatalytiQs</a>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer></footer>

        <script src="" async defer></script>
    </body>
</html>